body{
	width: 100%;
	background-size: auto 100%;
	background-image: url('img/page_background.jpg');
    background-repeat: repeat-x;
    background-attachment: fixed;
    background-position: center; 
    background-color: #0B102D;
    text-align: center;
    margin:0;
    padding: 0;
    position: relative;
}
h2{
	margin: 0 10px;
}
a{
	color:blue;
	text-decoration: underline;
	cursor: pointer;
}
.showAndCenter{
	display: inline-block;
	padding: 10px;
	position: absolute;
	left:50%;
	transform:translateX(-50%);
}
.hiddenDiv{
	display: none;
}
.successMessage{
	color: green;
}
.errorMessage{
	color: red;
}
#rooms{
	text-align: center;
}
#roomsTable{
	width: 100%;
	empty-cells: hide;
	border-spacing: 0;
    border-collapse: collapse;
}
#roomsTable th, td{
	padding: 0 5px;
}
.formDiv{
	background: rgba(255,255,255,0.90);
	border:3px solid blue;
	border-radius: 20px;
}
.formDiv button{
	margin: 10px 0;
}